<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- clear to make sure that everyone uses the same sources -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="bbm" value="https://git.openlab.iris.no/api/v4/projects/135/packages/nuget/index.json" />
	</packageSources>
    <packageSourceCredentials>
		<bbm>
			<add key="Username" value="%NORCE_NUGET_USER%" />
			<add key="ClearTextPassword" value="%NORCE_NUGET_APIKEY%" />
		</bbm>
	</packageSourceCredentials>
</configuration>